
<!-- BIOGRAPHY -->

<section class="flex flex-col md:flex-row gap-10 p-4 justify-center">
    <div class="lg:mt-0 w-screen md:max-w-fit flex justify-center items-center">
        <div class="w-44 h-44 border-sky-400 border-2 rounded-full overflow-hidden shadow-xl">
            <img class="object-cover" src="/assets/images/profile-picture.webp" alt="profile_picture">
        </div>
    </div>

    <div class="text-balance">
        <p>
            Hi there, my name is Estiven Padilla Santos. I'm currently based in <span class="group/country"><span class="text-slate-100 group-hover/country:text-[#0063ee] transition-all duration-500">Domini</span><span class="text-slate-100 group-hover/country:text-slate-100 transition-all duration-500">can Rep</span><span class="text-slate-100 group-hover/country:text-[#ff271c] transition-all duration-500">ublic.</span></span> 
            <br>
            <br>
            In 2021, I got my bachelor's degree in Software Engineering at <a href="https://www.ucne.edu/p/" target="_blank" class="text-slate-100 hover:text-sky-400 transition-colors duration-500">Universidad Católica Nordestana (UCNE)</a>. Since then, I've been interested in web development as my main focus, adapting and improving myself through courses and certifications.
            <br>
            <br>
            When I'm not at the computer, I'm listening to music, taking a good cup of coffee, watching some anime, or running around Hyrule.
        </p>
    </div>
</section>