---
import { CERTIFICATIONS } from "../../constants/certifications";
---

<!-- CERTIFICATIONS  -->

<section class="mb-8 p-4">
    <span>
        <h2 class="mb-4 text-lg text-slate-100">
            Courses and Certifications 
            <svg class="w-6 h-6 inline" viewBox="0 0 32 32" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1{fill:#ccd6f6;}</style></defs><title></title><path class="cls-1" d="M28,5H4A2,2,0,0,0,2,7V24a2,2,0,0,0,2,2H18v3a1,1,0,0,0,.53.88,1,1,0,0,0,1-.05L22,28.2l2.45,1.63A1,1,0,0,0,26,29V26h2a2,2,0,0,0,2-2V7A2,2,0,0,0,28,5ZM22.59,21.94a3,3,0,1,1,2.35-2.35A3,3,0,0,1,22.59,21.94ZM24,27.13l-1.45-1a1,1,0,0,0-1.1,0l-1.45,1V23.58a5,5,0,0,0,4,0ZM28,24H26V22s0,0,0,0a4.93,4.93,0,0,0,.88-4.1A5,5,0,0,0,17,19a4.93,4.93,0,0,0,1,3s0,0,0,0v2H4V7H28Z"></path><path class="cls-1" d="M7,12H25a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z"></path><path class="cls-1" d="M7,16h8a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z"></path><path class="cls-1" d="M7,20h8a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z"></path></g></svg>
        </h2>
    </span>

    <ul class="grid md:grid-cols-2 gap-2">
        {CERTIFICATIONS.map(certification => (
            <li class="group relative border border-solid rounded-lg border-[#8892b020] hover:bg-[#8892b020] hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] transition-color duration-500">
                <a href={certification.link} target="_blank">
                    <div class="p-4">
                        <p class="group-hover:text-sky-400 text-slate-100 font-semibold transition-color duration-500">
                            {certification.name}
                        </p>
                        <p class="group-hover:text-slate-100 transition-color duration-500">
                            {certification.organization}
                        </p>
                        <p>{certification.date}</p>
                    </div>
                </a>
                <svg class="absolute top-4 right-3 inline w-5 h-5 stroke-slate-100 group-hover:stroke-sky-400 group-hover:rotate-45 transition-transform duration-500 group-hover:translate-x-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </li>
        ))}
    </ul>
</section>