---
import Layout from '../layouts/Layout.astro';
import Biography from '../components/about/Biography.astro';
import Certifications from '../components/about/Certifications.astro';
import Jobs from '../components/about/Jobs.astro';
---

<Layout title="About | Estiven Padilla Santos">
    <div id="about_header" class="max-w-screen-lg mx-auto py-14">
        <span class="group mb-3">
            <a href="/" class="inline-flex items-center">
                <svg class="inline w-7 h-7 stroke-sky-400 group-hover:-translate-x-2 duration-300 transition-transform" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>    
                <h3 class="text-mg text-sky-400">Back</h3>
            </a>
        </span>

        <span class="border-solid border-b-2 border-sky-400">
            <h1 class="pb-3 text-4xl font-semibold text-slate-100 border-solid border-b-2 border-sky-400">About me</h1>
        </span>

        <div id="about_content" class="max-w-4xl mx-auto">
            <Biography/>
            <Certifications/>
            <Jobs/>
        </div>
    </div>
</Layout>