---
import Header from '../components/Header.astro';
import MainContent from '../components/MainContent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Estiven Padilla Santos">
	<div class="flex max-w-screen-xl mx-auto ">
		<Header/>
		<MainContent/>
	</div>
</Layout>
