---
import Header from '../components/Header.astro';
import MainContent from '../components/MainContent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Estiven Padilla Santos">
	<div class="overflow-x-hidden max-w-7xl mx-auto p-3">
		<Header/>
		<MainContent/>
	</div>
</Layout>
