
<!-- ABOUT -->

<section id="about" class="mt-14 max-w-screen lg:max-w-lg lg:mt-0 lg:pl-5 group/blue">
    <div class="z-20 -mx-6 px-6 sticky top-0 backdrop-blur-sm lg:backdrop-blur-none lg:static">
        <h2 class="py-2 italic text-2xl font-semibold text-sky-400 md:text-slate-100 group-hover/blue:text-sky-400 transition-all duration-500">About</h2>
    </div>

    <div class="group">
        <p class="group-hover:text-slate-100 transition-colors duration-700">
            Software Engineer currently based in <span class="text-slate-100 group-hover:text-[#0063ee] transition-all duration-500">Domini</span><span class="text-slate-100 group-hover:text-slate-100 transition-all duration-500">can Rep</span><span class="text-slate-100 group-hover:text-[#ff271c] transition-all duration-500">ublic</span> with experience developing <span class="text-slate-100 group-hover:text-sky-400 transition-colors duration-700">engaging</span> and <span class="text-slate-100 group-hover:text-sky-400 transition-colors duration-700">accessible</span> digital experiences.
        </p>
    </div>

    <span class="inline-block mt-4 text-sm group/link">
        <a href="/about" class="font-semibold text-slate-100 group-hover/link:decoration-sky-400 transition-colors duration-700 group-hover/link:underline hover:cursor-pointer">
            View more about me<svg class="inline w-5 h-5 stroke-slate-100 duration-700 group-hover/link:stroke-sky-400 transition-transform group-hover/link:rotate-45 group-hover/link:translate-x-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </a>
    </span>
</section>