<section id="about" class="max-w-lg pl-5">
    <div class="group">
        <h2 class="text-2xl font-semibold text-lightest_slate mb-3">About</h2>
    
        <p class="text-slate">I'm a software developer focusing on web development, actually based in Dominican Republic, with over 3+ years of developing on my own. Always looking for ways to <span class="text-lightest_slate group-hover:text-dark_purple-800 transition-colors duration-500">improve</span> myself and showing <span class="text-lightest_slate group-hover:text-dark_purple-800 transition-colors duration-500">consistency</span> and <span class="text-lightest_slate group-hover:text-dark_purple-800 transition-colors duration-500">commitment</span> with everything that do.</p>
    </div>

    <span class="block mt-2 text-sm group/link">
        <a href="/about" class="text-lightest_slate group-hover/link:text-dark_purple-800 transition-colors duration-500 group-hover/link:underline hover:cursor-pointer">
            See more about me<svg class="inline w-5 h-5 stroke-lightest_slate group-hover/link:stroke-dark_purple-800 group-hover/link:rotate-45 transition-all duration-500 group-hover/link:translate-x-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </a>
    </span>
</section>