---
import { EXPERIENCES } from "../../constants/experiences"
---

<!-- EXPERIENCES -->

<section id="experience" class="mt-14 mb-8 max-w-screen lg:max-w-lg">
    <div class="z-20 -mx-6 px-6 sticky top-0 backdrop-blur-sm lg:backdrop-blur-none lg:static">
        <h2 class="pt-3 text-2xl font-semibold text-slate-100 lg:pl-5">Experience</h2>
    </div>

    <ul class="mt-2">
        {EXPERIENCES.map(experience => (
            <li class="flex gap-2 group/list rounded-lg lg:px-5 py-2 lg:hover:bg-[#8892b020] lg:hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)]">
                <div class="min-w-fit pt-1">
                    <p class="text-sm font-semibold lg:text-xs group-hover/list:text-slate-100 transition-colors duration-500">{experience.duration}</p>    
                </div>

                <div class="flex flex-col pl-2 border-l-2 border-slate-400 group-hover/list:border-sky-400">
                    <span class="mb-2">
                        <h3 class="font-semibold text-slate-100 group-hover/list:text-sky-400 transition-colors duration-500">{experience.role}</h3>
                        <p class="group-hover/list:text-slate-100 transition-colors duration-500">{experience.company}</p>
                    </span>
        
                    <p class="text-sm">{experience.responsabilities}</p>
                </div>
            </li>
        ))}
    </ul>

    <span class="inline-block my-2 lg:pl-5 text-sm group/link">
        <a href="/assets/resume.pdf" target="_blank" class="font-semibold text-slate-100 group-hover/link:text-sky-400 transition-colors duration-500 group-hover/link:underline hover:cursor-pointer">
            View Full Resumé<svg class="inline w-5 h-5 stroke-slate-100 group-hover/link:stroke-sky-400 group-hover/link:rotate-45 transition-all duration-500 group-hover/link:translate-x-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </a>
    </span>
</section>