---
import { PROJECTS } from "../../constants/projects";
---

<!-- PROJECTS -->

<section id="projects" class="mt-14 mb-5 max-w-screen lg:max-w-lg group/blue">
    <div class="z-20 -mx-6 px-6 sticky top-0 backdrop-blur-sm lg:backdrop-blur-none lg:static">
        <h2 class="pt-3 text-2xl font-semibold text-slate-100 lg:pl-5 group-hover/blue:text-sky-400 transition-all duration-500">Side Projects</h2>
    </div>

    <ul class="mt-2">
        {PROJECTS.slice(0, 3).map(project => (
            <li class="group/list rounded-lg lg:px-5 lg:pt-2 pb-4 mb-2 lg:hover:bg-[#8892b020] lg:hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] transition-all duration-500">
                <a href={project.link} target="_blank">
                    <span class="flex gap-2 items-center">
                        <h3 class="text-lg mb-1 text-slate-100 font-semibold group-hover/list:text-sky-400 transition-colors duration-500">{project.name}</h3>
        
                        <svg class="w-4 h-4 stroke-slate-100 transition-transform group-hover/list:stroke-sky-400 group-hover/list:rotate-45 transition-all duration-500 ease-in-out" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13.5442 10.4558C11.8385 8.75022 9.07316 8.75022 7.36753 10.4558L4.27922 13.5442C2.57359 15.2498 2.57359 18.0152 4.27922 19.7208C5.98485 21.4264 8.75021 21.4264 10.4558 19.7208L12 18.1766" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M10.4558 13.5442C12.1614 15.2498 14.9268 15.2498 16.6324 13.5442L19.7207 10.4558C21.4264 8.75021 21.4264 5.98485 19.7207 4.27922C18.0151 2.57359 15.2497 2.57359 13.5441 4.27922L12 5.82338" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </span>
        
                    <p class="group-hover/list:text-slate-100 transition-colors duration-500">{project.description}</p>
                    
                    <ul class="flex gap-3 mt-3">
                        {project.technologies.map(technology => (
                            <li class="rounded-full py-1 px-2 bg-gradient-to-br from-sky-400 to-[#0040ff8c] text-xs text-slate-200">{technology}</li>
                        ))}
                    </ul>
                </a>
            </li>
        ))}
    </ul>

    <span class="inline-block my-4 lg:pl-5 text-sm group/link">
        <a href="/work" class="font-semibold text-slate-100 group-hover/link:decoration-sky-400 transition-colors duration-500 group-hover/link:underline hover:cursor-pointer">
            View all projects<svg class="inline w-5 h-5 stroke-slate-100 transition-transform group-hover/link:stroke-sky-400 group-hover/link:rotate-45 transition-all duration-500 group-hover/link:translate-x-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </a>
    </span>
</section>