<section id="about" class="max-w-lg mb-14 pl-5">
    <h3 class="text-2xl font-medium text-lightest_slate mb-3">About</h3>
    <p class="text-slate">I'm a  software developer focusing on web development, with over 3+ years of developing on my own. Always looking for ways to improve myself and showing <span class="text-dark_purple-700">consistency</span> and <span class="text-dark_purple-700">commitment</span> with everything that do.</p>
</section>