<section id="about" class="max-w-lg mb-14 pl-5 group">
    <h3 class="text-2xl font-medium text-lightest_slate mb-3">About</h3>
    
    <p class="text-slate">I'm a software developer focusing on web development, actually based in <span class="group/country"><span class="text-lightest_slate group-hover/country:text-[#03e] transition-all duration-500">Domini</span><span class="text-lightest_slate group-hover/country:text-lightest_slate transition-all duration-500">can Rep</span><span class="text-lightest_slate group-hover/country:text-[#d20] transition-all duration-500">ublic</span></span>, with over 3+ years of <span class="text-lightest_slate group-hover:text-dark_purple-800 transition-colors duration-500">developing on my own.</span> Always looking for ways to improve myself and showing <span class="text-lightest_slate group-hover:text-dark_purple-800 transition-colors duration-500">consistency</span> and <span class="text-lightest_slate group-hover:text-dark_purple-800 transition-colors duration-500">commitment</span> with everything that do.</p>

    <span class="block mt-2 text-sm">
        <p class="group-hover:text-dark_purple-800 transition-colors duration-500">
            See more about me
            <svg class="inline w-5 h-5 stroke-slate group-hover:stroke-dark_purple-800 group-hover:rotate-45 transition-all duration-500 group-hover:translate-x-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </p>
    </span>
</section>