---
import { EXPERIENCES } from "../constants/experiences"
---

<section id="experience" class="max-w-lg">
    <h3 class="text-2xl font-medium text-lightest_slate pl-5">Experience</h3>
    <ul class="mt-2">
        {EXPERIENCES.map(experience => (
            <li class="flex gap-2 group/list rounded-lg px-5 pt-2 pb-4 mb-6 hover:bg-cristal hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)]">
                <div class="h-full w-1/2 pt-1">
                    <p class="text-xs group-hover/list:text-lightest_slate transition-colors duration-500">{experience.duration}</p>    
                </div>

                <div class="flex flex-col">
                    <span class="mb-2">
                        <h4 class="text-lightest_slate group-hover/list:text-dark_purple-700 transition-colors duration-500">{experience.role}</h4>
                        <p class="group-hover/list:text-lightest_slate transition-colors duration-500">{experience.company}</p>
                    </span>
        
                    <p class="text-sm">{experience.responsabilities}</p>
                </div>
            </li>
        ))}
    </ul>
</section>