---
import About from "./home/About.astro";
import Experiences from "./home/Experiences.astro";
import Projects from "./home/Projects.astro";
---

<!-- MAIN CONTENT -->

<main id="main" class="h-screen lg:w-1/2 lg:py-24 lg:px-5 lg:absolute right-0 top-0">
    <About/>
    <Projects/>
    <Experiences/>
</main>