---
import About from "./About.astro";
import Experiences from "./Experiences.astro";
import Projects from "./Projects.astro";
---

<main id="main_content" class="h-screen w-1/2 py-24 px-5 overflow-auto">
    <About/>
    <Projects/>
    <Experiences/>
</main>