---
import About from "./home/About.astro";
import Experiences from "./home/Experiences.astro";
import Projects from "./home/Projects.astro";
---

<main id="main" class="h-screen w-1/2 py-24 px-5 absolute right-0">
    <About/>
    <Projects/>
    <Experiences/>
</main>