
<div class="">
    <h1 class="text-4xl font-semibold text-lightest_slate">Estiven Padilla Santos</h1>
    <p class="text-2xl text-lightest_slate">Software Engineer</p>
    <p class="text-slate mt-3 max-w-xs">Always <span class="text-dark_purple-800">learning</span>, <span class="text-dark_purple-800">improving</span>, and <span class="text-dark_purple-800">reflecting</span> in every line of code.</p>
</div>