---
interface Props {
	title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="./src/assets/favicon-16x16.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen text-slate" style="background: radial-gradient(#400165 20%, #220135, #190028);">
		<slot />
	</body>
</html>
